name: Build and Push Docker Images

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push frontend
      uses: docker/build-push-action@v5
      with:
        context: ./frontend
        push: true
        tags: joshpat/cloudtopg-frontend:latest

    - name: Build and push cart service
      uses: docker/build-push-action@v5
      with:
        context: ./cart-service
        push: true
        tags: joshpat/cloudtopg-cart:latest

    - name: Build and push order service
      uses: docker/build-push-action@v5
      with:
        context: ./order-service
        push: true
        tags: joshpat/cloudtopg-order:latest
